* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #04b4c6;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header logo {
    max-width: 30%;
}

.container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 30px; */
}
/* formulario de busca */
.form {
    display: flex;
    margin: 2rem;
}

.form input {
    padding: 1rem;
    outline: none;
    font-size: 1.2rem;
    border: 1px solid #000;
    border-radius: 5px;
}

.form button {
    outline: none;
    border: none;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #27ae60;
    color: #fff;
    margin-left: 10px;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    text-transform: uppercase;
}
/* botões paginação  */
.buttons {
    display: flex;
    width: 30px;
    justify-content: center;
}

.buttons button {
    outline: none;
    border: none;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.7rem;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0.5rem;
}

.buttons button:hover {
    color: #fff;
    background-color: #27ae60;
}

.form button:hover {
    color: #000;
    background-color: #fff;
}

/* cards de personagens */

.list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 20%;/*responsavel pelo numero de cards na largura*/
    margin: 0.5rem;
    background-color: #fff;
    color: #000;
}

.card-header {
    padding: 1rem;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header .card.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-img img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 1rem;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-body p {
    font-size: 1.2rem;
}

